[OMGUbuntu]
feedtitle = OMG Ubuntu
url = https://omgubuntu.co.uk/feed/
modified = 

[THENEWDAILY]
feedtitle = The New Daily
url = https://thenewdaily.com.au/feed
modified = 

[ITSFOSS]
feedtitle = Its Foss News
url = https://news.itsfoss.com/feed
modified = 

